/*​ Wipcamp 8 */
/* ========= */
/* 1 # Main Section */


/* Config font and default */

@font-face {
    font-family: 'Thaisans_lite';
    src: url('../fonts/thaisanslite_r1.ttf');
    font-weight: normal;
}

html,body{
	padding: 0;
	margin: 0;
  font-size: 18px;
  font-family: Thaisans_lite;
  letter-spacing: .0246783em;
  overflow: hidden;
}


/* Typography */

h1{
  font-size: 3.835em;
}

p{
  font-size: 1.25em;
}

/*spotlight*/

#spotlight{
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}
 /* 1 # Main Section */
}

#main {
	position: relative;
	height: 100%;
	width: 100%; 
  min-height: 580px;
  min-width: 980px;
}

.overlay {
  visibility: hidden;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  top:0;
  z-index: 100;
  transition:visibility 0s linear 1s,opacity 1s linear;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
  transition-delay:0s;
}

/* Layout */

.layout {}

.layout .over-logo {
  position: absolute;
  left: 50%;
  top: -100%;
}
.layout .logo {
  display: block;
  position: relative;
  left: -50%;
}

.layout .camp_name {
  background-image: url(../images/layout/camp_name.png);
  width: 539px;
  height: 214px;
}
.layout .camp_way {
  background-image: url(../images/layout/camp_way.png);  
  width: 500px;
  height: 138px;
  margin: -4.0625em auto 0 auto;
}
.layout .sponser {
  background-image: url(../images/layout/camp_spon1.png);
  width: 539px;
  height: 214px;
  margin: -87px -22px;
}

.layout .spotlight {
  width: 282px;
  height: 42em;
  margin: -22.0625em auto 0 auto;
  opacity: 0;
}

.layout .over-earth {
  position: absolute;
  left: 50%;
  bottom: -100%;
  z-index: 200;
}
.layout .earth {
  width: 500px;
  height: 500px;
  display: block;
  position: relative;
  left: -50%;
  animation: roll 80s infinite linear;
}

.star > img {
  position: relative;
}
.star-front .star-1 {top: 8%; left: 74%; animation: star_flash 3s infinite;}
.star-front .star-2 {top: 35%; left: 64%; animation: star_flash 5s infinite;}
.star-front .star-3 {top: 18%; left: 15%; animation: star_flash 4s infinite;}
.star-mid .star-1 {top: 48%; left: 36%; animation: star_flash 5s infinite;}
.star-mid .star-2 {top: 80%; left: 25%; animation: star_flash 2s infinite;}
.star-mid .star-3 {top: 80%; left: 70%; transform: rotate(20deg); animation: star_flash 3s infinite;}
.star-back .star-1 {top: 68%; left: 8%; animation: star_flash 4s infinite;}
.star-back .star-2 {top: 60%; left: 58%; animation: star_flash 2s infinite;}
.star-end .star-1 {top: 10%; left: 7%; animation: star_flash 4s infinite;}
.star-end .star-2 {top: 50%; left: 45%; transform: rotate(30deg); animation: star_flash 2s infinite;}
.star-end .star-3 {top: 40%; left: 12%; animation: star_flash 4s infinite;}


.layer { height: 100%;width: 100%}
/* Map */
.map {
  /*background-color: #0c141e;*/
  background-image: url("../images/bg2.jpg");
  psition: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 580px;
}

/* Starter */
.pre-load{
  background-color: #0c141e;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -200;
  opacity: 0;
  animation: preload 4s;
}
.main-logo {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index:200;
}
.main-logo .main {
  height: 300px;
  transform: scale(1);
  animation: scale_preload 4s ;
  opacity: 0;
  left: -50%;
  position: relative;
  z-index: 200;
  border-radius: 50%;
}

.reg {
  top: 70% !important;
  left: 50% !important;
  width: 250px;
  margin: 0 auto;
  opacity: 0;
}

.reg img{
  margin-left: -50%;
  width: 250px;
  transition: opacity .4s;
  animation: reg_ani 2s infinite linear;
}

.reg img:hover {
  opacity: 0.5;
}

/* Map */

.map .what {
  left: 13%;
  top: 22%;
  opacity: 1;
}

.map .element {
  color: #fff;
}

.map .element:hover .section{
  opacity: .6 !important;
}

.map .element .section {
  position: absolute;
  cursor: pointer;
  opacity: 1;
  transition: opacity .6s;
}

.map .element .section:hover {
  opacity: 1 !important;
}
.map .element .section:hover .description{
  transform: scale(1.1);
  transition: transform .4s;
}

.map .element img{
  display: inline-block;
  height: 7em;
}
.map .element .description{
  display: inline-block;  
  vertical-align: top;
  padding-top: .8em;
  opacity: 0;
  visibility: hidden;
}
.map .element .description h1{
  font-size: 2.6em;
  margin: 0;
  text-shadow: 0px 0px 15px rgba(255,255,255,0.7);
}
.map .element .description p {
  margin: 0;
  line-height: .6em;
}

/* Register */

/*.map .reg .container{
  height: 7em;
  width: 7em;
}

.map .reg .upperImage{
  height: 7em;
}
*/
.map .faq .lowerImage{
  padding-left: 1.875em;
}
/* Emblem of Section */

.lowerImage{
  left: 7px;
  position: absolute;
  z-index: 2;
  transform: scale(0);
  transition: 0.2s;
  
}
.upperImage{
  position: absolute;
  z-index: 3;
  transition: 0.2s;
}

.container{
  height: 7em;
  width: 7em;
  position: relative;
  display: inline-block;
  transition: all 0.5s;
}

.section:hover .upperImage{
  transform: scale(0);
  transition: all 0.2s;
}

.section:hover .lowerImage{
  transform: scale(2);
  transition: all 0.2s; 
  
}
.section:hover .container{
  width: 8em;
  transition: all 0.4s;
 }
  

/* 2 # Popup Section */

.popup .content {
    position: absolute;
    padding: 1.25em;
    background-color: rgba(255,255,255,0.8);
  }

.popup.left {
	background-color: white;
	width: 50%;
  min-height: 580px;
  height: 100%;
  position: fixed; 
  top: 0; 
  left: -100%; 
  z-index: 200;
}

.popup.left .triangle { position: relative;right: -100%;height: 100%;}

.popup.right {
  background-color: white;
  width: 50%;
  min-height: 580px;
  height: 100%;
  position: fixed; 
  top: 0; 
  right: -100%; 
  z-index: 200;
}

.popup.right .triangle{position: relative;right: 100%;height: 100%;
}

.popup.right img{
  float: right;
}

.popup.maps {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0; 
  right: -100%; 
  z-index: 200;
}

.pop-what .content .inner{
  margin-top : 0;
}
.pop-what .content h2{
  font-size: 2.2em;
  font-weight: bold;
  margin: 0 auto .2em;
}


.popup.maps .content {
  right: 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  height: 100%;
}

.popup.maps .content h2 {
  font-size: 3.75em;
  margin: 0.275em 0 0.225em;
}

.popup.maps .content .highlight {
  font-size: 1.65em;
  font-weight: bold;
}
.popup .image-wippo {
  transform: scale(1.5); 
  transition: transform 1s;
  transition-delay: .5s;
}
.popup.active .image-wippo {
  transform: scale(1); 
}
.popup.left .image-wippo {
  position: absolute;
  min-height: 800px;
  height: 100%;
  padding:1.875em;
  left: -30%;

}
.popup.right .image-wippo {
  position: absolute;
  height: 800px;
  padding: 1.875em;
  right: -30%
}

.popup.pop-faq .image-wippo { /* fix superman faq*/
  position: absolute;
  height: 800px;
  padding: 1.875em;
  right: -50%;
}

.content h1 {
  margin: 0 ;
  border-bottom: 3px solid #000;
  width: 100%;
}

.content h2 {
  font-size: 1.675em;
  margin: 0 5px;
}

.left .content {
  margin: 0 0 0 8.125em;
  height: 100%;
}
.right .content {
  text-align: right;
  margin: 0 8.125em 0 0;
  height: 100%;
  right: 0;
}

.content .inner {
  margin-top: 1.625em;
}

.content .inner p {
  margin: 0.2em 0;
}
.content .inner p span{
}
.content .inner .highlight {
  font-size: 1.475em;
}

/* Where */
.pop-where .image-wippo {
  left: -200%;
  position: absolute;
  height:700px;
  bottom:0;
  opacity: 0;
}

/* When */



.pop-when ul{
  list-style: none;
  padding: 0;
}
.pop-when h2 {
  margin: 0;
  
}

.pop-when ul li{
  margin-top: 2.5em;
}
.pop-when p {
  margin: 0;
  
}

.inner-topic{
  height: 10%;
  width: 15%;
  margin-top: 2em;
  
}
.loy-outer{
  width: 3em;
  height: 3em;
  border-radius: 100%;
  background-color: white; 
  position: absolute;
  border: 0.25em solid rgb(255,0,57);
  transform: scale(0);
  margin-top: 0.25em;

}
.loy-outer.loy1.delay{
  transform: scale(1);
  transition:  1s;
  transition-delay: 0.5s;
}
.loy-outer.loy2.delay{
  transform: scale(1);
  transition:  1s;
  transition-delay: 1s;
}
.loy-outer.loy3.delay{
  transform: scale(1);
  transition:  1s;
  transition-delay: 2s;
}
.loy-outer.loy4.delay{
  transform: scale(1);
  transition:  1s;
  transition-delay: 3s;
}


.inner-btn{
  margin-top: 2em;
  position: relative;
  border-radius: 100%; 
  display: inline;
}

   



#line{
  margin-left: 1.6em; 
  margin-top: 1.5em; 
  height: 0em;
  width: 0.25em;
  position: absolute;
  background-color: red;
  opacity: 0.7; 


}
#line.when{
  transition-timing-function: linear;
  transition-duration: 3.7s;
  transition-delay: 0.25s;
  height: 19em;
}
.inner-descript{
  text-align: left;
  
  position: relative;
  margin-left: 5em;
  margin-top: -1em;
  transform: scale(0); 
}
.inner-descript.loy1.upText{
  transition-delay: 0.5s;
  transform: scale(1);
  transition-duration: 1s;
}

.inner-descript.loy2.upText{
  transition-delay: 1s;
  transition-duration: 1s;
  transform: scale(1);
  
}
.inner-descript.loy3.upText{
  transition-delay: 2s;
  transform: scale(1);
  transition-duration: 1s;

}
.inner-descript.loy4.upText{
  transition-delay: 3s;
  transform: scale(1);
  transition-duration: 1s;
}

.loy-outer.loyBig{
  height: 4em;
  width: 4em;
  border: 0.25em solid rgb(255,0,57);
  margin-left: -0.5em;

}

.pop-when .content .inner-descript h2{
  font-size: 1.675em;
  height: auto;
}
.pop-when .content .inner-descript p{
  margin-left: 0.5em;
  font-size: 1.5em;
  height: auto;
  position: relative;
}

/* Who */

.pop-who h2 {
  font-size: 1.525em;
  display: inline-block;
  margin: 0;
}
.pop-who .des {
  margin-top: 2.5em;
}
.pop-who .des .item {
  display: inline-block;
}
.pop-who .des .icon {
  display: inline-block;
  margin: 0 .325em;
  font-size: 1em;
  vertical-align: top;
  margin-top: .3em;
}

.pop-who.active .sec1 {
 animation: who_des_action 1.5s;
}
.pop-who.active .sec2 {
 animation: who_des_action 2s;
}
.pop-who.active .sec3 {
 animation: who_des_action 2.5s;
}
.pop-who.active .sec4 {
 animation: who_des_action 3s;
}

/* FAQs */

.accordion {
  position: relative;
  height: 2em;
  cursor: pointer;
  padding: 0.3em 0.3em .3em;
  background: rgba(238, 238, 238, 0.6);
  width: 100%;
  font-size: 1.325em;
  letter-spacing: .01em;
  font-weight: bold;
  margin-top: .4em;
  box-sizing: border-box;
}
.accContent {
  width: 100%;
  position: relative;
  font-size: 1.125em;
  margin-bottom: 1em;
  background: rgba(255,255,255,.6);
  padding: .3em;
  box-sizing: border-box;
}

/* Contact */

.pop-contact .inner .information {
  display: inline-block;
  vertical-align: top;
}

.pop-contact .inner .information h2{
  font-size: 3.125em;
}

.pop-contact .inner .information p{
  font-size: 2.125em;
  margin: 0;
}

.pop-contact .inner .social {
  position: relative;
  margin-top: 1.625em;
}

.pop-contact .inner .social ul{
  list-style: none;
  font-size: 2.8em;
  margin: 1.225em 0;
  padding: 0;
}

.pop-contact .inner .social ul li{
  display: inline-block;
  border: 0.0625em solid #000;
  margin: 0.0125em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background: rgba(255,255,255,.9);
  transition: transform .2s, opacity .2s;
}


i.fa {
    padding-top: .25em;
}

.pop-contact ul:hover li {
  opacity: 0.6;
}

.pop-contact li:hover {
  opacity: 1 !important;
  transform: scale(1.2);
}
/* Other Popup*/

.exit {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 10;
  width: 5em;
  height: 5em;
  transition: transform .4s;
  cursor: pointer;
}

.exit:hover {
  transform: rotate(180deg);
}

@media screen and (max-width: 1078px) {
  html,body{
    font-size: 14.3px;
   
  }
  .pop-where .image-wippo { 
    height: 360px; 
  }
  .pop-where .content{
    width: 29em;
  }
  .star-front .star-3{
    visibility: hidden;
  }
  .star-mid .star-2{
    visibility: hidden;
  }
}


@media only screen  and (max-width : 1224px) {
  html,body{
    font-size: 14.6px;
  }
}

@media only screen  and (max-width : 1366px) {

}
@media only screen  and (max-width : 1824px) {

}

/* Key Frame Section */

@keyframes line-one {
  0% {width: 0px;}
  100% {width: 150px;}
}
@keyframes line-two {
  0% {width: 0px;}
  100% {width: 300px;}
}
@keyframes line-three {
  0% {width: 0px;}
  100% {width: 200px;}
}
@keyframes line-four {
  0% {width: 0px;}
  100% {width: 150px;}
}

@keyframes topic-point-action {
  0% {transform: scale(0);}
  55% {background-color: #000; transform: scale(1);}
  85% {background-color: #fff;}
  100% {background-color: #000;}
}

@keyframes show-acc {
  0% {
    opacity:0;visibility:"hidden";height:0;
  }
  100% {
    opacity:0;visibility:"hidden";height:0;
  }
}

@keyframes scale_preload {
  0% {opacity: 0 }
  40% {transform: scale(1); opacity: 1;}
  60% {transform: scale(1.5); opacity: 1;}
  100% {transform: scale(.5); opacity: 0;}
}

@keyframes roll {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(359deg); }
  0% { transform: rotate(0deg); }
}

@keyframes star_flash {
  0% { opacity: .7; }
  50% { opacity: .3; }
  100% { opacity: .7; }
}

@keyframes who_des_action {
  0%, 50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes preload {
  0% , 60%{ opacity: 1; z-index: 200;}
  100% { opacity: 0 ; z-index: 200; display: none;}
}

@keyframes reg_ani {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}