/*​ Wipcamp 8 */
/* ========= */
/* 1 # Main Section */


/* Config font and default */

@font-face {
    font-family: 'Thaisans_lite';
    src: url('../fonts/thaisanslite_r1.ttf');
    font-weight: normal;
}

html,body{
	padding: 0;
	margin: 0;
  font-size: 16px;
  font-family: Thaisans_lite;
  letter-spacing: .3px;
}


/* Typography */

h1{
  font-size: 4.435em;
}

p{
  font-size: 1.25em;
}

 /* 1 # Main Section */

#main {
	position: relative;
	height: 100%;
	width: 100%; 
  min-height: 780px;
  min-width: 980px;
}

.overlay {
  visibility: hidden;
  background-color: rgba(255,255,255,0.3);
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  z-index: 100;
  transition:visibility 0s linear 1s,opacity 1s linear;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
  transition-delay:0s;
}

#map {
  background: url("../images/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 768px;
}

#map .what{
  position: absolute;
  left: 5%;
  top: 25%;
  z-index: 20;}
#map .where{
  left: 50%;
  bottom: 15%;
}
#map .when{
  left: 72%;
  bottom: 10%;
}
#map .faq{
  left: 40%;
  top: 10%;
}
#map .reg{
  top: 35%;
  left: 30%;
  position: absolute;
}
#map .contact{
  top:20%;
  left: 70%;
}
#map .who{
  bottom : 20%;
  left: 20%;
}

#map .element {
  color: #fff;
}
#map .element .section {
  position: absolute;
  cursor: pointer;
}
#map .element img{
  display: inline-block;
  height: 60px;
}
#map .element .description{
  display: inline-block;  
  padding-left: 10px;
}
#map .element .description h1{
  font-size: 2em;
  margin: 0;
}
#map .element .description p {
  margin: 0;
  padding-top: 5px;
  border-top:1px solid #;
}

/* Register */

#map .reg .container{
  height: 100px;
  width: 100px;
}

#map .reg .upperImage{
  height: 100px;
}

/* Regis Wippo 3 */

.threeImage.giroro{
  height: 100px;
  position: absolute;
  top: -8px;
  left: 43px;
  transform: rotate(25deg);
}

#giroro{
   transform: scale(0);
}
.reg:hover #giroro{
   transform: scale(2);
   transition: all 0.2s; 
   transition-delay: 0.2s;
}
.threeImage.dororo{
  height: 100px;
  position: absolute;
  top: 20px;
  left: -43px;
  transform: rotate(-25deg);
  z-index: 1;
 
}

#dororo{
   transform: scale(0);
}
.reg:hover #dororo{
   transform: scale(2);
   transition: all 0.2s; 
  
}
.reg:hover #keroro{
    transform: scale(2);
   transition: 0.2s;
   transition-delay: 0.4s;
}

.reg:hover #containerReg{
  width: 120px;
  transition: 0.8s;
}
#map .reg .description {
  vertical-align: top;
}
#map .reg .description h1{
  font-size: 3.125em;
  line-height: 1em;
}
#map .reg .description p{
  font-size: 2em;
  line-height: 1em;
}


/* Emblem of Section */

.lowerImage{
  left: 7px;
  position: absolute;
  z-index: 2;
  transform: scale(0);
  transition: 0.2s;
  
}
.upperImage{
  position: absolute;
  z-index: 3;
  transition: 0.2s;
}

.container{
  height: 60px;
  width: 60px;
  position: relative;
  display: inline-block;
  transition: all 0.5s;
}

.section:hover .upperImage{
  transform: scale(0);
  transition: all 0.2s;
}

.section:hover .lowerImage{
  transform: scale(2);
  transition: all 0.2s; 
  
}
.section:hover .container{
  width: 80px;
  transition: all 0.5s;
 }
  

/* 2 # Popup Section */

.popup .content {
    position: absolute;
    padding: 20px;
    background-color: rgba(255,255,255,0.6);
  }

.popup.left {
	background-color: white;
	width: 50%;
  min-height: 770px;
  height: 100%;
  position: fixed; 
  top: 0; 
  left: -100%; 
  z-index: 200;
}

.popup.right {
  background-color: white;
  width: 50%;
  min-height: 770px;
  height: 100%;
  position: fixed; 
  top: 0; 
  right: -100%; 
  z-index: 200;
}
.popup.right img{
  float: right;
}

.popup.maps {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0; 
  right: -100%; 
  z-index: 200;
}

.popup.maps .content {
  right: 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  height: 100%;
}

.popup.maps .content h2 {
  font-size: 3.75em;
  margin: 30px 0 10px;
}

.popup.maps .content .highlight {
  font-size: 1.65em;
}

.popup.left .image-wippo {
  position: absolute;
  height: 800px;
  padding:30px;
  left: -30%
}
.popup.right .image-wippo {
  position: absolute;
  height: 800px;
  padding:30px;
  right: -30%
}

.content h1 {
  margin: 0 ;
  border-bottom: 3px solid #000;
}

.content h2 {
  font-size: 1.875em;
  margin: 0 5px;
}

.left .content {
  margin: 0 0 0 130px;
  height: 100%
}
.right .content {
  text-align: right;
  margin: 0 130px 0 0;
  height: 100%;
  right: 0;
}

.content .inner {
  margin-top: 20px;
}

.content .inner p {
  font-size: 1.25em;
}
.content .inner .highlight {
  margin: 0px 10px;
  font-size: 2.125em;
}

/* When */

.pop-when ul{
  list-style: none;
  padding: 0;
}
.pop-when h2 {
  margin: 0;
}

.pop-when p {
  margin: 0;
}

/* Contact */

.pop-contact .inner .information {
  display: inline-block;
  vertical-align: top;
}

.pop-contact .inner .information h2{
  font-size: 3.125em;
}

.pop-contact .inner .information p{
  font-size: 2.125em;
  margin: 0;
}

.pop-contact .inner .social {
  position: absolute;
  width: 600px;
  right: 20px;
  margin-top: 20px;
}

.pop-contact .inner .social ul{
  list-style: none;
  font-size: 3.43em;
  margin: 20px 0;
  padding: 0;
}

.pop-contact .inner .social ul li{
  padding: 10px;
  display: inline-block;
  border: 1px solid #000;
  margin: 5px;
  width: 65px;
  height: 65px;
  text-align: center;
  background: rgba(255,255,255,.9);
  transition: transform .2s, opacity .2s;
}


i.fa {
    line-height: 65px;
}

.pop-contact ul:hover li {
  opacity: 0.6;
}

.pop-contact li:hover {
  opacity: 1 !important;
  transform: scale(1.2);
}
/* Other Popup*/

.exit {
  position: absolute;
  left: -80px;
  top: 9px;
  z-index: 10;
  width: 70px;
  height: 70px;
  transition: transform .4s;
  cursor: pointer;
}

.exit:hover {
  transform: rotate(180deg);
}

/* Key Frame Section */

@keyframes line-one {
  0% {width: 0px;}
  100% {width: 150px;}
}
@keyframes line-two {
  0% {width: 0px;}
  100% {width: 300px;}
}
@keyframes line-three {
  0% {width: 0px;}
  100% {width: 200px;}
}
@keyframes line-four {
  0% {width: 0px;}
  100% {width: 150px;}
}

@keyframes topic-point-action {
  0% {transform: scale(0);}
  55% {background-color: #000; transform: scale(1);}
  85% {background-color: #fff;}
  100% {background-color: #000;}
}