html,body{
	padding: 0;
	margin: 0;  
  font-family: Thaisans_lite;
  letter-spacing: .3px;

}

@font-face {
    font-family: 'Thaisans_lite';
    src: url('../fonts/thaisanslite_r1.ttf');
    font-weight: normal;
}




#main {
	position: relative;
	height: 100%;
	width: 100%; 
}

#main, #layout {
    min-width: 980px;
    min-height: 700px;
}

.overlay {
  visibility: hidden;
  background-color: rgba(255,255,255,0.3);
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  z-index: 1;
  transition:visibility 0s linear 1s,opacity 1s linear;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
  transition-delay:0s;
}

#map {
	background-image: url("../images/bg.png");
	min-width: 100%;
  min-height: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
}

.element {
	color: #fff;
}

.element>div {
	position: absolute;
}

#map .what{
	position: absolute;
  left: 5%;
  top: 25%;
  z-index: 20;}
#map .where{
	left: 50%;
  bottom: 15%;
}
#map .when{
	right: 12%;
  bottom: 10%;
}
#map .faq{
	left: 40%;
  top: 10%;
}
#map .reg{
	top: 30%;
  left: 30%;
}
#map .contact{
	top:20%;
  right: 20%;
}

#map .element img{
  display: inline-block;
  height: 60px;
}
#map .element .description{
  display: inline-block;  
  padding-left: 10px;
}

#map .element .description h1{
  font-size: 32px;
  margin: 0;
}

#map .element .description p {
  margin: 0;
  padding-top: 5px;
  border-top:1px solid #;
  font-size: 20px;
}

.popup .content {
    position: absolute;
    padding: 20px;
    background-color: rgba(255,255,255,0.3);
  }

.popup.left {
	background-color: white;
	width: 50%;
  height: 100%;
  position: fixed; 
  top: 0; 
  left: -100%; 
  z-index: 200;
}

.popup.right {
  background-color: white;
  width: 50%;
  height: 100%;
  position: fixed; 
  top: 0; 
  right: -100%; 
  z-index: 200;
}
.popup.right img{
  float: right;
}

.popup .image-wippo {
  position: absolute;
  height: 80%;
  padding:30px;
  left: -30%
}

.content h1 {
  font-size: 70px;
  margin: 0 0 0 0;
}
.content {
  margin: 0 0 0 130px;
  height: 100%
}
.content .inner p {
  font-size: 20px;
  margin: 8px;
}
.content .inner .highlight {
  margin-left: 0;
  font-size: 30px;
}