@font-face {
  font-family: 'Thaisans_lite';
  src: url('../fonts/thaisanslite_r1-webfont.eot');
  src: url('../fonts/thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisanslite_r1-webfont.woff2') format('woff2'), url('../fonts/thaisanslite_r1-webfont.woff') format('woff'), url('../fonts/thaisanslite_r1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'Thaisans_lite';
  position: relative;
  font-size: 18px;
}

h1 {
  font-size: 44px;
}

p {
  font-size: 20px;
}

#what container {
  background: red;
}

.navbar-brand .emblem {
  height: 50px;
  display: inline-block;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand h1 {
  font-size: 20px;
  display: inline-block;
  color: white;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.full-nav {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  left: 0;
  z-index: 10000;
  background: white;
  top: 0;
  bottom: 0;
  position: fixed;
  visibility: hidden;
  opacity: 0;
}

.full-nav .navbar-nav {
  text-align: center;
  padding: 18vh 0;
}

.navbar-nav>li>a {
  font-size: 20px;
  color: black;
}

.navbar-inverse .navbar-toggle {
  border: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
  font-size: 24px;
  padding: 20px;
}

.navbar-inverse .navbar-nav span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  padding: 10px 20px;
}

section {
    padding: 20px 0;
}

.images img{
  border-radius: 6px;
  width: 70%;
  margin: 0 auto;
}

#Home {
  background-color: #2a234b;
  height: 100vh;
  padding: 0;
}

#Home .col-sm-12 {
  height: 100vh;
  padding: 0;
  margin-top: 0em;  
}

#Home .wip {
  padding-top: 2em;
}

#Home .way {
      margin-top: -2em;
}

#Home .spon {
  position: relative;
  margin-top: -2em;
  width: 60%;
  margin: 0 auto;
}

#Home .town {
  position: absolute;
  bottom: 0;
}

#What {
    background-color: #183a60;
}
#What h1,p {
   color: #fff;
   margin: 15px;
}
#Who {
    background-color: #323436;
}
#Who h1,p {
    color: #fff;
}
#When {
    background-color: #116350;
}
#When h1,p {
    color: #fff;
}
#Where {
    background-color:#7a2b2b;
}
#Where h1,p {
    color: #fff;
}

#FAQs {
    background-color: #584155;
}
#FAQs h1,p {
    color: #fff;
}

#FAQs .description {
  margin-bottom: 2em;
}

#Contact {
    background-color: gray;
}
#Contact h1,p {
    color: #fff;
}

.container {
    margin: 0;
    padding: 0;
}

.accordion {
  position: relative;
  height: auto;
  cursor: pointer;
  padding: 0.4em 0.6em .4em;
  background: rgba(238, 238, 238, 0.6);
  width: 100%;
  font-size: 1.225em;
  letter-spacing: .01em;
  font-weight: bold;
  margin-top: .4em;
  text-align: center;
  box-sizing: border-box;
}
.accContent {
  width: 100%;
  text-align: left;
  position: relative;
  font-size: 1.125em;
  margin-bottom: 1em;
  background: rgba(255,255,255,.6);
  padding: .5em;
  box-sizing: border-box;
}