@font-face {
    font-family: 'Thaisans_lite';
    src: url('../fonts/thaisanslite_r1-webfont.eot');
    src: url('../fonts/thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisanslite_r1-webfont.woff2') format('woff2'),
         url('../fonts/thaisanslite_r1-webfont.woff') format('woff'),
         url('../fonts/thaisanslite_r1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body{
	font-family: 'Thaisans_lite';
}

h1 {
	font-size: 44px;
}

p {
	font-size: 20px;
}

#what container{
	background: red;
}